<header class="divider">
  <div class="logo">
    <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
    <a href="/index.html"> Sleep<span class="highlight">Outside</span></a>
  </div>
  <div class="cart">
    <a href="/cart/index.html">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
        <path d="M0 1a1 1 0 0 1 1-1h1.22a1 1 0 0 1 .98.804L3.89 3H14a1 1 0 0 1 .97 1.243l-1.5 6A1 1 0 0 1 12.5 11H4a1 1 0 0 1-.98-.804L1.61 2H1a1 1 0 0 1-1-1zm3.14 2l1.25 5h8.11l1.25-5H3.14zM6 12a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm5 1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
  </div>
</header>
